@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color:darkslategrey;
    font-family: 'Inter', sans-serif;
    align-content: center;
    align-self: center;
}
button{
    padding: 30px;
    text-align:center;
    cursor: pointer;
    transition: 0.2s;
}
.counter-display{
  font-size: 5rem;
}

button:hover{
  color: white;
  background-color: black;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  button {
     width: 100%;
  }
}
.btn-group{
  float:left;
  padding-bottom: 10rem;
}

input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#submitguess{
  cursor: pointer;
  transition: 0.2s;
}

#submitguess:hover{
  background-color: lightblue;
}

.btn-group button {
  background-color: white; /* Green background */
  border: 5px solid green; /* Green border */
  color: black; /* White text */
  padding: 40px 100px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: darkgreen;
  color: white;
}

.btn-group2{
  float:right;
  padding-bottom: 10rem;
}
.btn-group2 button {
  background-color: white; /* Green background */
  border: 5px solid green; /* Green border */
  color: black; /* White text */
  padding: 40px 100px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group2 button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group2 button:hover {
  background-color: darkgreen;
  color: white;
}