@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color:darkslategrey;
    font-family: 'Inter', sans-serif;
    align-content: center;
    align-self: center;
}
button{
    border-radius: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
  color: white;
  background-color: black;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  button {
     width: 100%;
  }
}